<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Ingredients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="addingredform" style="display:none">
  <ion-item>
    <ion-label position="floating">Ingredient Name</ion-label>
    <ion-input type="text" [(ngModel)]="ingredientName" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="text" [(ngModel)]="ingredientQuantity" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Best Before</ion-label>
    <ion-input type="date" [(ngModel)]="ingredientDate" required></ion-input>
  </ion-item>

  <ion-button
  (click)="addIngredient(ingredientName,ingredientQuantity)">Add Ingredient</ion-button>
</div>

  <ion-list>
    <ion-list-header>
</ion-list-header>
    <ion-item *ngFor="let ingred of (userIngredients | async)?.ingredients">
<button item-right clear (click)='removeIngredient(ingred)' slot="start">
    <ion-icon name="trash" style="zoom: 2;"></ion-icon>
</button>
      {{ingred.ingredientName}}
      <div class="item-note">
        : {{ingred.ingredientQuantity}}
      </div>
      <div class="item-note" slot="end">
        {{ingred.ingredientDate}}
      </div>
    </ion-item>
  </ion-list>
<ion-fab-button (click)="showForm()">+</ion-fab-button>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
