<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Ingredients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Ingredient Name</ion-label>
    <ion-input type="text" [(ngModel)]="ingredientName" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="text" [(ngModel)]="ingredientQuantity" required></ion-input>
  </ion-item>

  <ion-button
  (click)="addIngredient(ingredientName,ingredientQuantity)">Add Ingredient</ion-button>



  <ion-list>
    <ion-item *ngFor="let ingred of (userIngredients | async)?.ingredients">
      <ion-icon slot="start"></ion-icon>
      {{ingred.ingredientName}}
      <div class="item-note" slot="end">
        {{ingred.ingredientQuantity}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
