<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <ion-list>
<ion-item>
Recipe Name
<div class="item-note" slot="end">
In Pantry
</div>
</ion-item>
    <ion-item *ngFor="let recipe of (information)">
      <ion-thumbnail slot="start">
        <img src="{{recipe.image}}" (click)='viewRecipe(recipe.id)'>
      </ion-thumbnail>
      {{recipe.title}}
      <div class="item-note" slot="end">
        <ion-button (click)='presentModal(recipe)'>
        {{recipe.usedIngredientCount}}/{{recipe.missedIngredientCount+recipe.usedIngredientCount}}
        </ion-button>
      </div>

    </ion-item>
  </ion-list>

</ion-content>
