<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <ion-list *ngIf="information?.length > 0" >
<ion-item>
Recipe Name
<div class="item-note" slot="end">
In Pantry
</div>
</ion-item>
    <ion-item *ngFor="let recipe of (information)">
      <ion-thumbnail slot="start">
        <img src="{{recipe.image}}" (click)='viewRecipe(recipe.id)'>
      </ion-thumbnail>
      {{recipe.title}}
      <div class="item-note" slot="end">
        <ion-button (click)='presentModal(recipe)'>
        {{recipe.usedIngredientCount}}/{{recipe.missedIngredientCount+recipe.usedIngredientCount}}
        </ion-button>
      </div>

    </ion-item>
  </ion-list>

  <div *ngIf="information?.length < 1" style="height: 100%; display: flex; align-items: center; justify-content: center;">
      <img src="/assets/emptypantry.png" alt="" style="  height: 20%;" />
      <br>
      Better stock up
    </div>

</ion-content>
